*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("bgimg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}


.menu{
    width:400px;
    display: flex;
    align-items: center;
    height: 70px;
    margin-left: auto;
    margin-right: 30vh;
}

li{
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;
}

ul li{
    display:inline-block;
    font-size: 18px;
}
.menu ul{
    display: flex;
    gap: 15px; /* spacing between items */
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-content{
    font-size: 20px;
    color: white;
    margin-right: 10px;
    margin-left: 30px;
    padding:2px;
    margin-top: 3px;
    font-weight: bolder;
}

.nav-content:hover {
    color: grey;
}
.navbar{
    background-color: #1c1c1c;
    width:100%;
    height:14vh;          
    position: fixed;          
    top: 0;
    left: 0;
    z-index: 1000;
    display:flex;
    gap:20px;
    padding:10px 20px;            
}
.navbar img {
    height: 80px;   
    width: 18vh;    
    margin-right: 20px; 
    vertical-align: middle;
    background: none;
    margin-left: 20px;
    mix-blend-mode: screen;   
}

h1{
    margin-top: 20vh;
    margin-left: 82vh;
    color:white;
    font-size: 10vh;
}

h2{

    color:white;
    font-size: 5vh;
}

.top-action-movies {
  padding: 40px 20px;
  background-color: transparent;
  text-align: center;
}

.top-action-movies h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: white;
}

.movies-grid {
    margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 70px;
  justify-items: center;
}

.movie-card {
  background-color: black;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 150px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}

.movie-card h3 {
  margin: 10px 0 5px;
  font-size: 1rem;
  color: white;
}

.movie-card p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: white;
}
