*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("bgimg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}


.menu{
    width:400px;
    display: flex;
    align-items: center;
    height: 70px;
    margin-left: auto;
    margin-right: 30vh;
}

li{
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;
}

ul li{
    display:inline-block;
    font-size: 18px;
}
.menu ul{
    display: flex;
    gap: 15px; /* spacing between items */
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-content{
    font-size: 20px;
    color: white;
    margin-right: 10px;
    margin-left: 30px;
    padding:2px;
    margin-top: 3px;
    font-weight: bolder;
}

.nav-content:hover {
    color: grey;
}
.navbar{
    background-color: #1c1c1c;
    width:100%;
    height:14vh;          
    position: fixed;          
    top: 0;
    left: 0;
    z-index: 1000;
    display:flex;
    gap:20px;
    padding:10px 20px;            
}
.navbar img {
    height: 80px;   
    width: 18vh;    
    margin-right: 20px; 
    vertical-align: middle;
    background: none;
    margin-left: 20px;
    mix-blend-mode: screen;   
}

.genres {
  margin-top: 20vh;
  text-align: center;
  padding: 50px;
  color: white;
}

.genres h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.genres-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.genre-card {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.genre-card:hover {
  background: #444;
  transform: translateY(-5px);
}
