*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

.bg-img{
    height: 100vh;
    width: 100%;
    background-image:
            url("movie1.jpg");
    background-size: cover;
}
h1{
    align-items: center;
    text-align: center;
    font-size: 15vh;
}
p{
    align-items: center;
    text-align: center;
    font-size: 5vh;
    margin-right: 50px;
}
.logo img{
    width:50vh;
    height: 38vh;
    margin:12vh 0;
    mix-blend-mode: multiply; /*blends with background*/
    background: transparent;
    margin-left: 12vh;
}
.logo #btn{
    color:white;
    text-align: center;
    align-items: center;
    top:56%;
    left:45%;
    font-size: 5vh;
    width:30vh;
    background: transparent;
    position:absolute;
}

#btn:hover{
    background: transparent;
    color: white;
    text-shadow: 0 0 10px;
    border-color: black;
}

.logo {
    display: flex;
    justify-content: center; /* moves content to the right */
    align-items: center; /* keeps it vertically aligned */
    text-align: center;
    margin-right: 100px; /* optional: adds space from the right edge */
    position: relative;
}

